["{\"bus_width\":\"32\",\"template_id\":\"read\",\"atg_id\":\"axi_traffic_gen_2\"}","{\"bus_width\":\"32\",\"template_id\":\"write\",\"atg_id\":\"axi_traffic_gen_2\"}","{\"bus_width\":\"32\",\"template_id\":\"read\",\"atg_id\":\"axi_traffic_gen_0\"}","{\"bus_width\":\"32\",\"template_id\":\"write\",\"atg_id\":\"axi_traffic_gen_0\"}","{\"bus_width\":\"32\",\"template_id\":\"read\",\"atg_id\":\"axi_traffic_gen_1\"}","{\"bus_width\":\"32\",\"template_id\":\"write\",\"atg_id\":\"axi_traffic_gen_1\"}"]